{% extends '_base.html' %}

{% block title %} Communications {% endblock title %}

{% block head %}
 <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.css') }}">
{% endblock head %}

{% block page_title %} Communications {% endblock page_title %}

{% block breadcrumb %}
<div class="float-sm-right">
</div>
{% endblock breadcrumb %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm border-0">
        <div class="card-header">
          <div class="form-group">
                  <label>Date range:</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control float-right" id="reservation">
                  </div>
                </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">

              <label><small>Numéro</small></label>
              <input type="text" name="numero" placeholder="Numéro" class="form-control form-control-sm mb-2">
              <label><small>Coût TTC</small></label>
              <input type="text" name="cout_ttc" placeholder="Coût TTC" class="form-control form-control-sm mb-2">
              <label><small>Sonnerie</small></label>
              <input type="text" name="sonnerie" placeholder="Sonnerie" class="form-control form-control-sm mb-2">
              <label><small>Durée</small></label>
              <input type="text" name="duree" placeholder="Durée" class="form-control form-control-sm">
              
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <div class="row mb-2">
                <div class="col-6">
                  <label><small>Type d'appels</small></label>
                  <select class="custom-select custom-select-sm">
                    <option selected>Tous</option>
                    <option>Entrants</option>
                    <option>Sortants</option>
                  </select>
                </div>
                <div class="col-6">
                  <label><small>Etat d'appels</small></label>
                  <select class="custom-select custom-select-sm">
                    <option selected>Tous</option>
                    <option>Aboutis</option>
                    <option>Non aboutis</option>
                  </select>
                </div>
              </div>
              <label><small>Service</small></label>
              <select class="custom-select mb-2 custom-select-sm">
                <option selected disabled>Choisir Service</option>
                <option>Expéditions Stock</option>
                <option>Achats Approvisionnements</option>
                <option>Commercial</option>
                <option>Informatique</option>
                <option>Direction</option>
                <option>Support technique</option>
                <option>Compta</option>
                <option>Chambres</option>
                <option>Technique</option>
              </select>
              <label><small>Poste</small></label>
              <select class="custom-select custom-select-sm mb-2">
                <option selected disabled>Choisir Poste</option>
                <option>520</option>
                <option>521</option>
                <option>522</option>
                <option>523</option>
                <option>524</option>
                <option>525</option>
                <option>526</option>
                <option>527</option>
                <option>528</option>
                <option>529</option>
                <option>530</option>
                <option>531</option>
                <option>532</option>
                <option>533</option>
                <option>534</option>
                <option>535</option>
                <option>536</option>
                <option>537</option>
                <option>538</option>
                <option>539</option>
              </select>
              <label><small>Type direc.</small></label>
              <select class="custom-select custom-select-sm">
                <option selected disabled>Choisir Type direc.</option>
                <option>I</option>
                <option>M</option>
                <option>N</option>
                <option>S</option>
                <option>X</option>
              </select>
            </div>
            
            <div class="col-md-4 pt-2 pl-4">
                <div class="info-box mb-3 shadow-none">
                  <span class="info-box-icon text-danger"><i class="fas fa-phone-alt"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Communications</span>
                    <span class="info-box-number">52641</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <div class="info-box mb-3 shadow-none">
                  <span class="info-box-icon text-danger"><i class="fas fa-stopwatch"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Durée</span>
                    <span class="info-box-number">65:18:20</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <div class="info-box mb-3 shadow-none">
                  <span class="info-box-icon text-danger"><i class="fas fa-phone-volume"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Durée sonnerie</span>
                    <span class="info-box-number">02:54:32</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
            </div>

          </div>
          <!-- /.row -->
        </div>
        <!-- ./card-body -->
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-3 col-6">
              <div class="description-block border-right border-danger">
                <h5 class="description-header">$264.84</h5>
                <span class="description-text">TOTAL TTC</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block border-right border-danger">
                <h5 class="description-header">$210.30</h5>
                <span class="description-text">TOTAL HT</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block border-right border-danger">
                <h5 class="description-header">$295.16</h5>
                <span class="description-text">FACTURÉ TTC</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block">
                <h5 class="description-header">$272.25</h5>
                <span class="description-text">FACTURÉ HT</span>
              </div>
              <!-- /.description-block -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm border-0">
        <div class="card-body small">
          <table id="table_id" class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th>Poste</th>
             <th>Date</th>
             <th>Numéro</th>
             <th>Durée</th>
             <th>Sonnerie</th>
             <th>Appel</th>
             <th>Coût</th>
             <th>Type</th>
             <th>Coût HT</th>
             <th>Abouti</th>
             <th>Zone</th>
             <th>Direction</th>
             <th>Service</th>
             <th>Durée appel</th>
             <th>Type direct</th>
          </tr>
        </thead>
      </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block sidebar %}
<div class="p-3">
  <p>Section vide</p>
</div>
{% endblock sidebar %}

{% block script %}
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>

<script>

$('#reservation').daterangepicker();

$(document).ready( function () {
  $("#nav-link3").addClass("bg-danger");
  var table = $('#table_id').DataTable({
      "ajax": {
        "url": "data",
        "dataSrc": ""
      },
      "columns": [
        { data: 'CO_EXT', "defaultContent": "" },
        { data: 'CO_DATE', "defaultContent": "" },
        { data: 'CO_MASKNUM', "defaultContent": "" },
        { data: 'CO_DUR', "defaultContent": "" },
        { data: 'CO_DRING', "defaultContent": "" },
        { data: 'CO_CALLTYPE', "defaultContent": "" },
        { data: 'CO_COUTFACT_TTC', "defaultContent": "" },
        { data: 'CO_TYPE', "defaultContent": "" },
        { data: 'CO_COUT_HT', "defaultContent": "" },
        { data: 'CO_ABOUT', "defaultContent": "" },
        { data: 'CO_OPZONE', "defaultContent": "" },
        { data: 'CO_OPDIR', "defaultContent": "" },
        { data: 'SE_NOM', "defaultContent": "" },
        { data: 'CO_DRTOT', "defaultContent": "" },
        { data: 'CO_TYPEDIR', "defaultContent": "" },
      ],
      "columnDefs": [ {
          "targets": 9,
          "data": "CO_ABOUT",
          "render": function ( data, type, row, meta ) {
            if (data == true) {
              return '<i class="fas fa-check text-success"></i>';
            } else {
              return '<i class="fas fa-times text-danger"></i>';
            }
          }
          }
      ],
      "language": {
          url: "{{ url_for('static', filename='table_fr_localisation.json') }}"
      },
      "scrollY": 400,
      "scrollX": true,
    });
} );

</script>
{% endblock script %}