{% extends '_base.html' %}

{% block title %} Cumuls {% endblock title %}

{% block head %}
 <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator_simple.min.css" rel="stylesheet">
 <link rel="stylesheet" href="{{ url_for('static', filename='table_loading_skeleton.css') }}">
{% endblock head %}

{% block page_title %} <i class="nav-icon fas fa-chart-bar"></i> Cumuls {% endblock page_title %}

{% block actions %}
<div class="float-sm-right">
  <div class="pt-2">
    <button class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-search"></i> RECHERCHE</button>
     <button class="btn btn-sm btn-light text-danger border shadow-sm"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
  </div>
</div>
{% endblock actions %}

{% block content %}
  
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm card-danger card-outline">
        <div class="card-body pb-2">
          <div class="row">
            <div class="col-md-4 pt-2">
              <div class="form-group row">
                <label class="col-form-label col-md-3"><small>Filtre : </small></label>
                <div class="col-md-9">
                  <select class="custom-select custom-select-sm" name="filtre">
                    <option value="0" selected>Numéro</option>
                    <option value="1">Service</option>
                    <option value="2">Abonnés</option>
                    <option value="3">Zone tarifs</option>
                    <option value="4">Direction tarifs</option>
                    <option value="5">PABX</option>
                    <option value="6">Date</option>
                    <option value="7">Mois</option>
                    <option value="8">Jour de la semaine</option>
                    <option value="9">Jour du mois</option>
                    <option value="10">Plages horaires quotidiennes</option>
                    <option value="11">Plages 10 mn quotidiennes</option>
                    <option value="12">Répartition temporelle / 1 heure</option>
                    <option value="13">Répartition temporelle / 10 mn</option>
                    <option value="14">Type appel</option>
                    <option value="15">Etat appel</option>
                    <option value="16">Type direction</option>
                  </select>
                </div>
                </div>
                <div class="form-group row">
                <label class="col-form-label col-md-3"><small>Graphe : </small></label>
                <div class="col-md-9">
                  <select class="custom-select custom-select-sm" name="filtre">
                    <option value="0" selected>Aucun</option>
                    <option value="1">Histogramme</option>
                    <option value="2">Secteurs</option>
                    <option value="2">Courbes</option>
                  </select>
                </div>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="lignes_vides">
                  <label class="custom-control-label" for="lignes_vides"><small>Lignes vides</small></label>
                </div>
            </div>
            <div class="col-md-4">
              <fieldset class="border px-2 mb-4 rounded">
              <legend class="w-auto badge px-2">
                  <input type="checkbox" name="top" id="top_check">
                  <span style="font-size: 18px; font-weight: 300;">TOP</span>
              </legend>
                <div class="form-group row">
                <label class="col-form-label col-md-4"><small>Lignes : </small></label>
                <div class="col-md-8">
                  <select class="custom-select custom-select-sm" name="top_lignes">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                  </select>
                </div>
                </div>
                <div class="form-group row">
                <label class="col-form-label col-md-4"><small>Sur : </small></label>
                <div class="col-md-8">
                  <select class="custom-select custom-select-sm" name="top_sur">
                    <option value="0" selected>Nbre appels</option>
                    <option value="1">Aboutis</option>
                    <option value="2">Non aboutis</option>
                    <option value="3">Entrants</option>
                    <option value="4">Sortants</option>
                    <option value="5">Internes</option>
                    <option value="6">Transféré</option>
                    <option value="7">Direct</option>
                    <option value="8">Durée</option>
                    <option value="9">Durée moy.</option>
                    <option value="10">Dur. sonnerie</option>
                    <option value="11">Durée son. moy.</option>
                    <option value="12">Durée ent.</option>
                    <option value="13">Durée sort.</option>
                    <option value="14">Taxes</option>
                    <option value="15">Coût HT</option>
                    <option value="16">Coût TTC</option>
                    <option value="17">Coût fact. HT</option>
                    <option value="18">Coût fact. TTC</option>
                  </select>
                </div>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <fieldset class="border px-2 mb-4 rounded">
              <legend class="w-auto badge px-2">
                  <input type="checkbox" name="cumul" id="cumul_check">
                  <span style="font-size: 18px; font-weight: 300;">Filtre sur cumul</span>
              </legend>
                <div class="form-group row">
                <label class="col-form-label col-md-4"><small>Lignes : </small></label>
                <div class="col-md-8">
                  <select class="custom-select custom-select-sm" name="cumul_sur">
                    <option value="0" selected>Nbre appels</option>
                    <option value="1">Aboutis</option>
                    <option value="2">Non aboutis</option>
                    <option value="3">Entrants</option>
                    <option value="4">Sortants</option>
                    <option value="5">Internes</option>
                    <option value="6">Transféré</option>
                    <option value="7">Direct</option>
                    <option value="8">Durée</option>
                    <option value="9">Durée moy.</option>
                    <option value="10">Dur. sonnerie</option>
                    <option value="11">Durée son. moy.</option>
                    <option value="12">Durée ent.</option>
                    <option value="13">Durée sort.</option>
                    <option value="14">Taxes</option>
                    <option value="15">Coût HT</option>
                    <option value="16">Coût TTC</option>
                    <option value="17">Coût fact. HT</option>
                    <option value="18">Coût fact. TTC</option>
                  </select>
                </div>
                </div>
                <div class="form-group row">
                <label class="col-form-label col-md-4"><small>Filtre : </small></label>
                <div class="col-md-8">
                  <input type="text" class="form-control form-control-sm" name="cumul_filtre" placeholder="Filtre">
                </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm card-danger card-outline">

        <div class="card-body pb-1">
          
          <div class="row">
          <div class="col-md-4">
          <fieldset class="border py-2 px-2 mb-4 rounded">
          <legend class="w-auto badge badge-secondary rounded-pill px-3">Plage de date</legend>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="periode_complete">
              <label class="custom-control-label font-weight-normal" for="periode_complete">Période complète</label>
            </div>
            <button class="btn btn-block btn-sm btn-outline-secondary my-2" type="button" data-toggle="modal" data-target="#periode-modal">Du 12/02/2019 Au 23/07/2019</button>
          </fieldset>
          <div class="py-2">
            <div class="info-box text-center" style="background-color: #F8F8FF;">
                  <span class="info-box-icon text-primary"><i class="fas fa-phone-alt"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Communications</span>
                    <span class="info-box-number">52641</span>
                  </div>
                </div>
            <div class="row">
              <div class="col-6">
                <div class="info-box text-center" style="background-color: #F8F8FF;">
                  <span class="info-box-icon text-warning"><i class="fas fa-stopwatch"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Durée</span>
                    <span class="info-box-number">65:18:20</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
              </div>
              <div class="col-6">
                <div class="info-box text-center" style="background-color: #F8F8FF;">
                  <span class="info-box-icon text-success"><i class="fas fa-phone-volume"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Sonnerie</span>
                    <span class="info-box-number">02:54:32</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="col-md-8">
            <fieldset class="border pt-1 pb-3 px-2 rounded">
            <legend class="w-auto badge badge-secondary rounded-pill px-3">Filtrage</legend>
              <div class="row">
            <!-- /.col -->
            <div class="col-md-6">
              <div class="row mb-2">
                <div class="col-6">
                  <label><small>Type d'appels</small></label>
                  <select class="custom-select custom-select-sm">
                    <option selected>Tous</option>
                    <option>Entrants</option>
                    <option>Sortants</option>
                  </select>
                </div>
                <div class="col-6">
                  <label><small>Etat d'appels</small></label>
                  <select class="custom-select custom-select-sm">
                    <option selected>Tous</option>
                    <option>Aboutis</option>
                    <option>Non aboutis</option>
                  </select>
                </div>
              </div>
              <label><small>Service</small></label>
              <select class="custom-select mb-2 custom-select-sm">
                <option selected disabled>Choisir Service</option>
                <option>Expéditions Stock</option>
                <option>Achats Approvisionnements</option>
                <option>Commercial</option>
                <option>Informatique</option>
                <option>Direction</option>
                <option>Support technique</option>
                <option>Compta</option>
                <option>Chambres</option>
                <option>Technique</option>
              </select>
              <label><small>Poste</small></label>
              <select class="custom-select custom-select-sm mb-2">
                <option selected disabled>Choisir Poste</option>
                <option>520</option>
                <option>521</option>
                <option>522</option>
                <option>523</option>
                <option>524</option>
                <option>525</option>
                <option>526</option>
                <option>527</option>
                <option>528</option>
                <option>529</option>
                <option>530</option>
                <option>531</option>
                <option>532</option>
                <option>533</option>
                <option>534</option>
                <option>535</option>
                <option>536</option>
                <option>537</option>
                <option>538</option>
                <option>539</option>
              </select>
              <label><small>Type direc.</small></label>
              <select class="custom-select custom-select-sm">
                <option selected disabled>Choisir Type direc.</option>
                <option>I</option>
                <option>M</option>
                <option>N</option>
                <option>S</option>
                <option>X</option>
              </select>
            </div>
            <div class="col-md-6">
              <label><small>Numéro</small></label>
              <input type="text" name="numero" placeholder="Numéro" class="form-control form-control-sm mb-2">
              <label><small>Coût TTC</small></label>
              <input type="text" name="cout_ttc" placeholder="Coût TTC" class="form-control form-control-sm mb-2">
              <label><small>Sonnerie</small></label>
              <input type="text" name="sonnerie" placeholder="Sonnerie" class="form-control form-control-sm mb-2">
              <label><small>Durée</small></label>
              <input type="text" name="duree" placeholder="Durée" class="form-control form-control-sm">
              
            </div>
          </div>
        </fieldset>
          </div>

          </div>

        </div>
        <!-- ./card-body -->
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-3 col-6">
              <div class="description-block border-right border-danger">
                <h5 class="description-header">$264.84</h5>
                <span class="description-text">TOTAL TTC</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block border-right border-danger">
                <h5 class="description-header">$210.30</h5>
                <span class="description-text">TOTAL HT</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block border-right border-danger">
                <h5 class="description-header">$295.16</h5>
                <span class="description-text">FACTURÉ TTC</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block">
                <h5 class="description-header">$272.25</h5>
                <span class="description-text">FACTURÉ HT</span>
              </div>
              <!-- /.description-block -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm card-danger card-outline">
        <div class="card-body">
          <div id="cumuls-table" style="border: 1px solid #BBB;" class="rounded">
            <div id="skeleton-container">
              <div id="skeleton-animation"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="periode-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Plage de date</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="periode_complete_modal">
            <label class="custom-control-label font-weight-normal" for="periode_complete_modal">Période complète</label>
          </div>
          <div class="form-group row mt-3">
                <label for="plage_de_date" class="col-form-label col-md-4"><small>Plage : </small></label>
                <div class="col-md-8">
                  <select class="custom-select custom-select-sm" id="plage_de_date">
                    <option value="0" selected>Libre</option>
                    <option value="1">Aujourd'hui</option>
                    <option value="2">Hier</option>
                    <option value="3">Avant hier</option>
                    <option value="4">Semaine courante</option>
                    <option value="5">Semaine dernière</option>
                    <option value="6">Semaine -2</option>
                    <option value="7">Mois courant</option>
                    <option value="8">Mois dernier</option>
                    <option value="9">Mois -2</option>
                    <option value="10">Trimestre courant</option>
                    <option value="11">Trimestre dernier</option>
                    <option value="12">Trimestre -2</option>
                    <option value="13">Année courante</option>
                    <option value="14">Année dernière</option>
                    <option value="15">Année -2</option>
                  </select>
                  </div>
                  </div>
                  <div class="form-group row">
                    <label for="date_debut" class="col-form-label col-md-4"><small>Du : </small></label>
                    <div class="col-md-8">
                      <input id="date_debut" type="date" name="date_debut" max="3000-12-31" 
                             min="1000-01-01" class="form-control form-control-sm">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="date_fin" class="col-form-label col-md-4"><small>Au : </small></label>
                    <div class="col-md-8">
                      <input id="date_fin" type="date" name="date_fin" max="3000-12-31" 
                             min="2000-01-01" class="form-control form-control-sm">
                    </div>
                  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-sm btn-primary">Entregistrer</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block sidebar %}
<div class="p-3">
  <p>Section vide</p>
</div>
{% endblock sidebar %}

{% block script %}
<script src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>

<script>

$(document).ready( function () {
  $("#nav-link4").addClass("bg-danger");
  
  $(document).ajaxComplete( function() {
    $("#skeleton-container").addClass("d-none");
  });

  $.getJSON("cumuls-data", function(data) {
    var table = new Tabulator("#cumuls-table", {
      data:data,           //load row data from array
      height:"500px",
      layout:"fitColumns",      //fit columns to width of table
      tooltips:true,            //show tool tips on cells
      addRowPos:"top",          //when adding a new row, add it to the top of the table
      pagination:"local",       //paginate the data
      layout:"fitData",
      paginationSize:25,
      paginationSizeSelector:[25, 50, 100],
      langs:{
          "fr-fr":{ 
              "pagination":{
                  "first":"Premier",
                  "first_title":"Première Page",
                  "last":"Dernier",
                  "last_title":"Dernière Page",
                  "prev":"Précédent",
                  "prev_title":"Page Précédente",
                  "next":"Suivant",
                  "next_title":"Page Suivante",
                  "all":"Toute",
                  "page_size": "Nº lignes par page",
              },
          },
      },
      columns:[                 //define the table columns
        {title:"Numéro", field:"CO_NUM"},
        {title:"Communications", field:"Communications"},
        {title:"Aboutis", field:"CO_ABOUT"},
        {title:"Entrants", field:"CO_IN"},
        {title:"Sortants", field:"CO_OUT"},
        {title:"Durée", field:"CO_DUR"},
        {title:"Durée moy.", field:"CO_DURM"},
        {title:"Dur. sonnerie", field:"CO_DRING"},
        {title:"Durée son. moy.", field:"CO_DRINGM"},
        {title:"Durée ent.", field:"CO_DUR_IN"},
        {title:"Durée sort.", field:"CO_DUR_OUT"},
        {title:"Coût TTC", field:"CO_COUT_TTC"},
        {title:"Coût TTC fac.", field:"CO_COUTFACT_TTC"},
      ],
    });
    table.setLocale("fr-fr");
  });

  $('#top_check').parents("fieldset").attr('disabled', 'disabled');
  $('#cumul_check').parents("fieldset").attr('disabled', 'disabled'); 

  $('#top_check').click(function(){
      if (this.checked) {
          $(this).parents("fieldset").removeAttr('disabled');
      } else {
          $(this).parents("fieldset").attr('disabled', 'disabled');
      };
  });

  $('#cumul_check').click(function(){
      if (this.checked) {
          $(this).parents("fieldset").removeAttr('disabled');
      } else {
          $(this).parents("fieldset").attr('disabled', 'disabled');
      };
  });

} );

</script>
{% endblock script %}