{% extends '_base.html' %}

{% block title %} Tableau de bord {% endblock title %}

{% block head %}

{% endblock head %}

{% block page_title %} <i class="nav-icon fas fa-tachometer-alt"></i> Tableau de bord {% endblock page_title %}

{% block actions %}
<div class="float-sm-right">
</div>
{% endblock actions %}

{% block content %}
	
	<div class="row">
	<div class="col-md-12">
	<div class="card shadow-sm card-danger card-outline">
	<div class="card-header border-0 row">
		<p class="col-md-6 lead m-0">Informations sur la base de données</p>
		<div class="col-md-6 text-center text-muted pt-1"><span class="badge badge-secondary"><i class="fas fa-phone-square-alt"></i> Appels</span><span><small> Le plus ancien: 2019-07-20 03:02:00</small> • <small>Le plus récent: 2019-07-26 19:12:00</small></span></div>
	</div>
	<div class="card-body">
	<div class="row">
	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="info-box mb-3" style="background-color: #F8F8FF;">
	      <span class="info-box-icon bg-info"><i class="fas fa-phone-alt"></i></span>

	      <div class="info-box-content">
	        <span class="info-box-text">Communications</span>
	        <span class="info-box-number" id="c_communications">
	          <div class="spinner-grow spinner-grow-sm text-info"></div>
	        </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="info-box mb-3" style="background-color: #F8F8FF;">
	      <span class="info-box-icon bg-success"><i class="fas fa-laptop"></i></span>

	      <div class="info-box-content">
	        <span class="info-box-text">Postes</span>
	        <span class="info-box-number" id="c_postes">
	        	<div class="spinner-grow spinner-grow-sm text-success"></div>
	        </span>
	      </div>
	    </div>
	  </div>

	  <div class="clearfix hidden-md-up"></div>

	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="info-box mb-3" style="background-color: #F8F8FF;">
	      <span class="info-box-icon bg-danger"><i class="fas fa-map-signs"></i></span>

	      <div class="info-box-content">
	        <span class="info-box-text">Services</span>
	        <span class="info-box-number" id="c_services">
	        	<div class="spinner-grow spinner-grow-sm text-danger"></div>
	        </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="info-box mb-3" style="background-color: #F8F8FF;">
	      <span class="info-box-icon bg-warning"><i class="fas fa-server"></i></span>

	      <div class="info-box-content">
	        <span class="info-box-text">PBX</span>
	        <span class="info-box-number" id="c_pbx">
	        	<div class="spinner-grow spinner-grow-sm text-warning"></div>
	        </span>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
	</div>
	</div>
	</div>

	<div class="row">
	<div class="col-md-12">
	<div class="card shadow-sm card-danger card-outline">
		<div class="card-body">
		<div class="row border-bottom pb-2">
			<div class="col-md-4">
				<fieldset class="border py-2 px-2 mb-1 rounded">
				<legend class="w-auto badge badge-secondary rounded-pill px-3">Plage de date</legend>
				  <div class="custom-control custom-switch">
				    <input type="checkbox" class="custom-control-input" id="periode_complete">
				    <label class="custom-control-label font-weight-normal" for="periode_complete">Période complète</label>
				  </div>
				  <button class="btn btn-block btn-sm btn-outline-secondary my-2" type="button" data-toggle="modal" data-target="#periode-modal">Du 12/02/2019 Au 23/07/2019</button>
				</fieldset>
				<div class="text-center">
				<button class="btn btn-sm btn-primary px-3"><i class="fas fa-redo-alt"></i> ACTUALISER</button>
				</div>
			</div>
			<div class="col-md-8 pt-2">
				<table class="table table-sm table-bordered" style="background-color: #F8F8FF;">
				  <thead>
				    <tr>
				      <th scope="col">Appels</th>
				      <th scope="col">Nombre</th>
				      <th scope="col">Durée</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Tous</td>
				      <td id="c_all"><div class="spinner-grow spinner-grow-sm text-dark"></div></td>
				      <td id="d_all"><div class="spinner-grow spinner-grow-sm text-dark"></div></td>
				    </tr>
				    <tr>
				      <td>Entrants</td>
				      <td id="c_entr"><div class="spinner-grow spinner-grow-sm text-dark"></div></td>
				      <td id="d_entr"><div class="spinner-grow spinner-grow-sm text-dark"></div></td>
				    </tr>
				    <tr>
				      <td>Sortants</td>
				      <td id="c_sort"><div class="spinner-grow spinner-grow-sm text-dark"></div></td>
				      <td id="d_sort"><div class="spinner-grow spinner-grow-sm text-dark"></div></td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="row">
		<div class="col-md-6 border-right">
			<p class="text-center mb-0 mt-4 text-muted"><strong>Nombre appels par service</strong></p>
			<div id="piechart" style="height: 300px; width: 450px;">
				<p><small><small>Chargement..</small></small></p>
			</div>	
		</div>
		<div class="col-md-6">
			<p class="text-center mb-0 mt-4 text-muted"><strong>Top 5 des coûts par direction</strong></p>
			<div id="barchart" style="height: 300px; width: 450px;">
				<p><small><small>(Pas encore disponible)</small></small></p>
			</div>	
		</div>
		</div>

		</div>		
	</div>
	</div>
	</div>

	<!-- Modal -->
	<div class="modal" id="periode-modal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Plage de date</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div class="custom-control custom-switch">
	          <input type="checkbox" class="custom-control-input" id="periode_complete_modal">
	          <label class="custom-control-label font-weight-normal" for="periode_complete_modal">Période complète</label>
	        </div>
	        <div class="form-group row mt-3">
	              <label for="plage_de_date" class="col-form-label col-md-4"><small>Plage : </small></label>
	              <div class="col-md-8">
	                <select class="custom-select custom-select-sm" id="plage_de_date">
	                  <option value="0" selected>Libre</option>
	                  <option value="1">Aujourd'hui</option>
	                  <option value="2">Hier</option>
	                  <option value="3">Avant hier</option>
	                  <option value="4">Semaine courante</option>
	                  <option value="5">Semaine dernière</option>
	                  <option value="6">Semaine -2</option>
	                  <option value="7">Mois courant</option>
	                  <option value="8">Mois dernier</option>
	                  <option value="9">Mois -2</option>
	                  <option value="10">Trimestre courant</option>
	                  <option value="11">Trimestre dernier</option>
	                  <option value="12">Trimestre -2</option>
	                  <option value="13">Année courante</option>
	                  <option value="14">Année dernière</option>
	                  <option value="15">Année -2</option>
	                </select>
	                </div>
	                </div>
	                <div class="form-group row">
	                  <label for="date_debut" class="col-form-label col-md-4"><small>Du : </small></label>
	                  <div class="col-md-8">
	                    <input id="date_debut" type="date" name="date_debut" max="3000-12-31" 
	                           min="1000-01-01" class="form-control form-control-sm">
	                  </div>
	                </div>
	                <div class="form-group row">
	                  <label for="date_fin" class="col-form-label col-md-4"><small>Au : </small></label>
	                  <div class="col-md-8">
	                    <input id="date_fin" type="date" name="date_fin" max="3000-12-31" 
	                           min="2000-01-01" class="form-control form-control-sm">
	                  </div>
	                </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Annuler</button>
	        <button type="button" class="btn btn-sm btn-primary">Entregistrer</button>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock content %}

{% block script %}

<script src="https://www.gstatic.com/charts/loader.js"></script>


    <script>

    	$("#nav-link1").addClass("bg-danger");

    	$.getJSON("dashboard-db-info", function(data){
    		$("#c_communications").text(data.c_communications);
    		$("#c_postes").text(data.c_postes);
    		$("#c_services").text(data.c_services);
    		$("#c_pbx").text(data.c_pbx);

    		google.charts.load('current', {'packages':['corechart']});
    		google.charts.setOnLoadCallback(drawChart);

    		function drawChart() {

    		  var services_arr = [];
    		  services_arr.push(['Service', 'Nombre appels'])
    		  data.services.forEach(function(item, index) {
    		  	services_arr.push([item.service, item.count]);
    		  });

    		  var data1 = google.visualization.arrayToDataTable(services_arr);

    		  // var options1 = {
    		  //   title: 'Nombre appels par service'
    		  // };

    		  var piechart = new google.visualization.PieChart(document.getElementById('piechart'));

    		  piechart.draw(data1);

    		  var data2 = google.visualization.arrayToDataTable([
    		     ['Service', 'Coût'],
    		     ['Expéditions Stock', 1530],
    		     ['Commercial', 1250],
    		     ['Achats Approvisionnements', 1170],
    		     ['Technique', 1140],
    		     ['Chambres', 920]
    		  ]);

    		  // var options2 = {
    		  // 	title: 'Top 5 des coûts par direction'
    		  // }; 

    		  // var barchart = new google.visualization.ColumnChart(document.getElementById('barchart'));
    		  // barchart.draw(data2);
    		}
    	});

    	$.getJSON("dashboard-data", function(data){
    		$("#c_all").text(data.all.c);
    		$("#d_all").text(data.all.d);
    		$("#c_entr").text(data.entr.c);
    		$("#d_entr").text(data.entr.d);
    		$("#c_sort").text(data.sort.c);
    		$("#d_sort").text(data.sort.d);
    	});

    </script>

{% endblock script %}