{% extends '_base.html' %}

{% block title %} Facture en tableau{% endblock title %}

{% block head %}

{% endblock head %}

{% block page_title %} <i class="nav-icon fas fa-money-check-alt"></i> Facture en tableau {% endblock page_title %}

{% block actions %}
<div class="float-sm-right">
  <div class="p-1">
    <a href="#" class="btn btn-sm bg-white shadow-sm"><small><strong>Paramétrage</strong></small></a>
    <a href="#" class="btn btn-sm bg-white shadow-sm"><small><strong>Envoi/Mail</strong></small></a>
    <a href="#" class="btn btn-sm bg-white shadow-sm"><small><strong>Export</strong></small></a>
    <a href="#" class="btn btn-sm bg-white shadow-sm"><small><strong>Impression</strong></small></a>
  </div>
</div>
{% endblock actions %}

{% block content %}

{% endblock content %}

{% block script %}

	<script>

		$("#nav-link6").addClass("bg-danger");

	</script>

{% endblock script %}